<label for="query">Query:</label>
<input id="query" type="text" placeholder="domain.com &quot;some words&quot;" />
<div id="osint"></div>

<script defer src="{{ "/assets/js/dorks.js" | absolute_url }}"></script>

<p>
Feel free to <a href="{{ site.repo }}">open an issue or an MR</a> if you want anything added to the list!
</p>
