<nav class="icons">
{%- for item in include.menu -%}
  {%- assign node = site.pages | where: "name", item.file | first -%}
  {%- assign url = item.url | default: node.url -%}
  {%- assign title = item.title | default: node.title -%}
  <a aria-label="{{ title }}" href="{{ url | absolute_url }}" {% if url == page.url %}class="selected"{% endif %}>
    {%- if include.icon -%}<svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | absolute_url }}#{{ item.icon }}"></use></svg>{%- endif -%}
    {%- if include.text -%}<span aria-hidden="true">{{ title }}</span>{%- endif -%}
  </a>
{%- endfor -%}
</nav>
