<header>
  {% if include.post.categories.size > 0 and site.minimal != true and include.preview != true %}
    <div class="categories">{{ include.post.categories | join: ", "  | upcase }}</div>
  {% endif %}
  {% if include.homepage != true %}
    <h1><a href="{{ include.post.url | absolute_url }}">{{ include.post.title }}</a></h1>
  {% else %}
    <h2><a href="{{ include.post.url | absolute_url }}">{{ include.post.title }}</a></h2>
  {% endif %}
  {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
  <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: date_format }}</time>
</header>
