---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="{{ site.encoding }}">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ page.author | default: site.author | escape }}">
    {% if site.show_frame %}
    <link rel="stylesheet" href="{{ "/assets/css/frame.css" | absolute_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/index.css" | absolute_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/classes.css" | absolute_url }}">
    {% if site.plugins contains "jekyll-feed" %}
    <link rel="alternate" href="{{ site.feed.path | default: "/feed.xml" | absolute_url }}" type="application/atom+xml"
        title="{{ site.title }}">{% endif %}
    {% if page.mathjax or site.mathjax %}
    <link rel="stylesheet" href="{{ "/assets/katex/katex.min.css" | absolute_url }}">
    <script defer src="{{ "/assets/katex/katex.min.js" | absolute_url }}"></script>
    <script defer src="{{ "/assets/katex/contrib/auto-render.min.js" | absolute_url }}"
        onload="renderMathInElement(document.body)"></script>
    {% endif %}
    {% if site.comments.disqus_shortname and page.layout == "post" %}
    <script src="//{{ site.comments.disqus_shortname }}.disqus.com/embed.js" async></script>{% endif %}
    {% if site.comments.isso_domain and page.layout == "post" %}
    <script data-isso="http://{{ site.comments.isso_domain }}"
        src="//{{ site.comments.isso_domain }}/js/embed.min.js"></script>{% endif %}
    {% seo %}
</head>
{% if site.show_sidebar or site.sidebar %}{% include sidebar.html %}{% endif %}

{% if site.navigation %}
{% assign pages = site.navigation %}
{% else %}
{% assign pages = site.pages | where_exp: "item", "item.title and item.sitemap != false" | sort: "order" %}
{% endif %}

<header>
    <div class="site-header">
        <a href="{{ "/" | absolute_url }}" class="title">{{ site.title | escape }}</a>
        <div class="description"># {{ site.description | escape }}</div>
    </div>
    {% include menu.html menu=site.external icon=true %}
</header>

{{ content }}

<footer>
    <div>
		<p>
        	Hosted on <strong><a href="https://about.gitlab.com/stages-devops-lifecycle/pages/">GitLab Pages</a></strong>
        	using <strong><a href="https://jekyllrb.com/">Jekyll</a></strong>
        	with the <strong><a href="https://github.com/niklasbuschmann/contrast/">contrast</a></strong> theme
		</p>
		<p>
			<a rel="me" href="https://infosec.exchange/@deesee">Mastodon verification link</a>
		</p>
    </div>
    {% include menu.html menu=site.external icon=true %}
</footer>

</html>
